Source: budgie-wallpapers
Section: misc
Priority: optional
Maintainer: David Mohammed <fossfreedom@ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python
Build-Depends-Indep: python-distutils-extra,
Standards-Version: 3.9.7
Homepage: https://github.com/budgie-remix
Vcs-Browser: https://github.com/budgie-remix/budgie-wallpapers/tree/debian
Vcs-Git: https://github.com/budgie-remix/budgie-wallpapers -b debian


Package: budgie-wallpapers
Architecture: all
Section: metapackages
Depends: budgie-wallpapers-xenial,
         ${misc:Depends}
Description: Wallpapers for budgie-remix
 Meta-package installs all budgie wallpapers

Package: budgie-wallpapers-xenial
Architecture: all
Depends: ${misc:Depends},
Description: budgie-remix 16.04.1 Wallpapers
 Wallpapers for Budgie 16.04.1
